<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="animate__animated animate__fadeIn">لیست عدم انطباق ها</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <div *ngIf="!isLoading && nonConformances.length == 0" class="ion-text-center">
    <ion-label color="primary">
      <p>تاکنون عدم انطباقی توسط شما شناسایی نشده است</p>
    </ion-label>
  </div>
  <ion-list *ngIf="!isLoading && nonConformances.length > 0">
    <ion-item-sliding *ngFor="let nc of nonConformances" #itemSliding>
      <ion-item slot="start" lines="none" detail [routerLink]="['/', 'non-conform', 'tabs', 'discover', 'nc-detail', nc._id]">
        <ion-avatar slot="start">
          <ion-img *ngIf="nc.imageUrl" src="{{nc.imageUrl}}"></ion-img>
          <ion-img *ngIf="!nc.imageUrl" src="../../assets/img/nc.jpg"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{nc.title}}</h2>
          <p>{{nc.description}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option (click)="editNc(nc.id,itemSliding)" color="warning">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div *ngIf="errMess">
    <h2>Error</h2>
    <p>{{errMess}}</p>
  </div>

</ion-content>
