<ion-content>
  <ion-tabs >
    <ion-tab-bar slot="bottom" >
      <ion-tab-button tab="new-nc">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>عدم انطباق جدید</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="discover">
        <ion-icon name="pulse"></ion-icon>
        <ion-label>لیست عدم انطباقها</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="userspec">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>کاربر</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about-us">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>توسعه دهنده</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
