<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="animate__animated animate__fadeIn">درباره توسعه دهنده</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="animate__animated animate__fadeIn">
        <ion-card>
          <div class="ion-text-center">
            <img src="../../assets/img/pic.png" class="imageMe"/>
          </div>
          <ion-card-header class="ion-text-center">
            <ion-card-subtitle>توسعه دهنده تمام پشته جاوا اسکریپت</ion-card-subtitle>
            <ion-card-title>محمد ملک زاد</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2>تحصیلات آکادمیک:</h2>
            <p>کارشناسی ارشد مدیریت کسب و کار</p>
            <p>کارشناس مهندسی صنایع گرایش تحلیل سیستم ها</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <h3>اطلاعات تماس</h3>
      </ion-col>
    </ion-row>
    <ion-row dir="ltr">
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-item>
              <ion-icon style="font-size: large" slot="start" name="call"></ion-icon>
              <p style="font-size: large;font-family: 'Times New Roman'">09371474773</p>
            </ion-item>
            <ion-item>
              <ion-icon style="font-size: large" slot="start" name="mail"></ion-icon>
              <p style="font-size: large; font-family: 'Times New Roman'">mohammad.malekzad@yahoo.com</p>
            </ion-item>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <h3> گواهینامه ها</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="../../assets/img/Bootstrap.jpg"/>
          <ion-card-header>
            <ion-card-subtitle> دانشگاه هنگ کنگ</ion-card-subtitle>
            <ion-card-title dir="ltr">Front-End Web UI Frameworks and Tools: Bootstrap 4</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            توسعه دهنده فرانت اند با بوت استرپ
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="../../assets/img/data_structure.jpg"/>
          <ion-card-header>
            <ion-card-subtitle> دانشگاه میشیگان</ion-card-subtitle>
            <ion-card-title dir="ltr">Data Structure</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            ساختمان داده
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="../../assets/img/angular.jpg"/>
          <ion-card-header>
            <ion-card-subtitle> دانشگاه هنگ کنگ</ion-card-subtitle>
            <ion-card-title dir="ltr">Front-End JavaScript Frameworks: Angular</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            توسعه دهنده فرانت اند جاوا اسکریپت با انگولار
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="../../assets/img/Ionic.jpg"/>
          <ion-card-header>
            <ion-card-subtitle> دانشگاه هنگ کنگ</ion-card-subtitle>
            <ion-card-title dir="ltr">Multiplatform Mobile App Development with Web Technologies: Ionic and Cordova</ion-card-title>
          </ion-card-header>
          <ion-card-content>
           توسعه دهنده نرم افزارهای موبایل با تکنولوژی وب
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="../../assets/img/Nodejs.jpg"/>
          <ion-card-header>
            <ion-card-subtitle> دانشگاه هنگ کنگ</ion-card-subtitle>
            <ion-card-title dir="ltr">Server-side Development with NodeJS, Express and MongoDB</ion-card-title>
          </ion-card-header>
          <ion-card-content>
           توسعه دهنده سرور و بانک اطلاعاتی
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="../../assets/img/Programing.jpg"/>
          <ion-card-header>
            <ion-card-subtitle> دانشگاه میشیگان</ion-card-subtitle>
            <ion-card-title dir="ltr">Programming for Everybody</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            مقدمات برنامه نویسی
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
